/* https://coolors.co/ffcab1-69a2b0-659157-a1c084-e05263 */
:root {
  --apricot: #ffcab1ff;
  --cadet-blue: #69a2b0ff;
  --russian-green: #659157ff;
  --olivine: #a1c084ff;
  --paradise-pink: #e05263ff;
  --almost-black: #3c3c3c;
}